#map {
	height: 350px;
}
.mapDetailsContent {
	background: #000;
	height: 350px;
	padding: 15px;
}
.dialog-title {
	color: #fff;
	text-align: center;
	padding-top: 20px;
	margin-top: 0px;
}
.dialog-info-text {
	color: #fff;
}

.pac-container {
    z-index: 10000 !important;
}
